@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist Mono";
    src: local("./assets/GeistMonoVariableVF.woff2");
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

code,
kbd {
    font-family: "Geist Mono", sans-serif;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-accent;
    border-radius: 4px;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 86.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 97%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 92%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 200 5% 3.9%;
        --foreground: 0 0% 98%;
        --card: 200 5% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 200 5% 8%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 200 5% 8%;
        --secondary-foreground: 0 0% 98%;
        --muted: 200 5% 6%;
        --muted-foreground: 240 5% 57.9%;
        --accent: 200 5% 12%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 52%;
        --destructive-foreground: 0 0% 98%;
        --border: 200 5% 15.9%;
        --input: 200 5% 15.9%;
        --ring: 240 4.9% 83.9%;
    }

    .slay {
        --background: 260 50% 92%;
        --foreground: 0 0% 3.9%;
        --card: 260 54% 96%;
        --card-foreground: 0 0% 3.9%;
        --popover: 260 54% 90%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 260 60% 80%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 200 5% 8%;
        --secondary-foreground: 0 0% 98%;
        --muted: 260 50% 88%;
        --muted-foreground: 240 5% 38%;
        --accent: 260 50% 83%;
        --accent-foreground: 0 0% 3.9%;
        --destructive: 0 62.8% 52%;
        --destructive-foreground: 0 0% 98%;
        --border: 260 70% 87%;
        --input: 260 20% 72%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
